# Accessing Deepblue trough R
# For DeepBlue version {{ version }}

# We include a modified version of the XML-RPC library (http://bioconductor.org/packages/release/extra/html/XMLRPC.html) for R in this file.

deepblue.URL = "http://deepblue.mpi-inf.mpg.de/xmlrpc"
deepblue.USER_KEY = "anonymous_key"

deepblue.debug.VERBOSE = FALSE

{{ commands }}

{{ serialize_r }}
